.alertsDisplay {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 8rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  z-index: 2;
  pointer-events: none;
}

.alertStack {
  position: absolute;
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0rem;
  left: 0rem;
  height: 5rem;
  width: 100%;
  padding: 0.25rem;
  pointer-events: auto;
}

.alertItem {
  composes: sansSerif from "../type.module.css";
  position: absolute;
  width: calc(100% - 0.5rem);
  bottom: 0.25rem;
  height: 4rem;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 2px 8px var(--shadow-2);
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 0.875rem;
}

.alertSuccess {
  border-left: 8px solid green;
}

.alertDanger {
  border-left: 8px solid red;
}

.alertDefault {
  border-left: 8px solid var(--primary);
}

.closeBtn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--gray-dark);
}

.closeBtn:hover {
  cursor: pointer;
  opacity: 0.65;
}

.alertContent {
  display: flex;
  align-items: center;
  width: calc(100% - 1rem);
  height: 100%;
}

.favoritedImg {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 2rem;
  object-fit: cover;
  border: 3px solid var(--primary);
}

.textContent {
  color: var(--gray-dark);
  animation: fadeIn 0.25s ease-in-out;
}

.nameText {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--primary-dark);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 961px) {
  .alertItem {
    max-width: 360px;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem;
    height: 6rem;
    font-size: 1rem;
  }

  .favoritedImg {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
}
