@import "../colors.module.css";

.browseHeader {
  composes: sansSerif from "../type.module.css";
  composes: bold from "../type.module.css";
  composes: h4 from "../type.module.css";
  margin-top: 4rem;
  color: var(--gray-darkest);
}

@media (min-width: 961px) {
  .browseHeader {
    margin-top: 8rem;
    font-size: 2rem;
  }
}
