@import "../colors.module.css";

.emptyState {
  composes: sansSerif from "../type.module.css";
  text-align: center;
  padding-top: 50%;
  animation: fadeIn 1s ease-in-out;
}

.header {
  composes: sansSerif from "../type.module.css";
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--gray-dark);
}

.text {
  composes: sansSerif from "../type.module.css";
  font-size: 1rem;
  color: var(--gray-dark);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0rem);
  }
}
