@import "../colors.module.css";

.favoritesList {
  width: 100%;
  margin-bottom: 6rem;
}

.header {
  composes: sansSerif from "../type.module.css";
  composes: bold from "../type.module.css";
  composes: h4 from "../type.module.css";
  margin-top: 4rem;
  color: var(--gray-darkest);
}

.header svg {
  width: 2rem;
}

.tableHeader {
  composes: sansSerif from "../type.module.css";
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
  display: none;
}

.tableHeader p {
  flex-basis: 33%;
  text-align: left;
  font-size: 0.75rem;
  color: var(--gray-medium);
  letter-spacing: 50%;
}

.tableHeader p:last-child {
  text-align: right;
}

.listItem {
  composes: sansSerif from "../type.module.css";
  display: flex;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--gray-lighter);
  border-radius: 4px;
}

.listItem a {
  text-decoration: none;
}

.photoAndName {
  display: flex;
  align-items: center;
}

.favImg {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 2px;
}

.itemName {
  text-align: left;
  font-weight: 600;
  color: var(--gray-darkest);
  text-transform: capitalize;
  margin-left: 1rem;
}

.date {
  text-align: left;
  font-size: 0.75rem;
  display: none;
}

.removeBtn {
  text-align: center;
  height: 2rem;
  width: 2rem;
  float: right;
  border: none;
  background-color: transparent;
  color: var(--gray-medium);
  font-size: 1.75rem;
}

.bottomPanel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  z-index: 7;
  width: 100vw;
  height: 4rem;
  padding: 1rem;
  border-top: 1px solid var(--gray-lighter);
  background-color: #fff;
}

.total {
  composes: sansSerif from "../type.module.css";
  color: var(--gray-dark);
}

.total span {
  font-weight: 600;
  color: var(--secondary);
}
