.filterDesktop {
  display: none;
}

@media (min-width: 961px) {
  .filterDesktop {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 6;
  }

  .filterDropdown {
    margin-right: 1rem;
  }

  .filterDropdown:last-child {
    margin-right: 0rem;
  }
}
