@import "../colors.module.css";

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modalContents {
  position: relative;
  z-index: 4;
  max-height: 90vh;
  max-width: 768px;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 12px var(--shadow-2);
  transition: all 0.25s ease-in-out;
  animation: slideUp 0.5s ease-in-out;
}

.modalOuter {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

.closeBtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  border: none;
  padding: 1.125rem 0.5rem;
  line-height: 0;
  color: var(--gray-dark);
  background-color: transparent;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(8em);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0em);
  }
}

@media (min-width: 968px) {
  .modalContents {
    margin: 1rem auto;
  }
}
