@import "../colors.module.css";

.paginationMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0rem;
}

.pageNumber {
  composes: sansSerif from "../type.module.css";
  color: var(--primary);
}

.pageBtn {
  padding: 0.5rem;
  color: var(--gray-dark);
  border: 1px solid;
  border-color: var(--gray-dark);
  background-color: transparent;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.pageBtn:focus {
  outline: none;
  background-color: var(--primary-light);
}

.pageBtnDisabled {
  color: var(--gray-light);
  border-color: var(--gray-light);
}
