@import "../colors.module.css";

.profileComponent {
  position: relative;
  width: 100%;
  margin-top: 4rem;
  border-radius: 8px;
  border: 1px solid var(--gray-lighter);
  margin-bottom: 4rem;
}

@media only screen and (min-width: 961px) {
  .profileComponent {
    z-index: 1;
    height: 100%;
    max-height: calc(100% - 8rem);
    margin-top: 0rem;
    border: 1px solid purple;
  }
}
