@import "../colors.module.css";

.imageGallery {
  width: 100%;
}

.activeImg {
  width: 100%;
  margin-top: 2rem;
  height: 20rem;
  object-fit: cover;
}

.imgSequencer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.imgSequencerBtn {
  composes: btnRound from "../buttons.module.css";
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--gray-light);
  background-color: transparent;
  color: var(--gray-dark);
}

.imgSequencerNumbers {
  composes: sansSerif from "../type.module.css";
  color: var(--gray-medium);
  font-size: 0.75rem;
}

.imgSelectorPanel {
  display: flex;
  width: 100%;
  justify-content: center;
}

.imgSelector {
  width: 4rem;
  height: 4rem;
  padding: 0;
}

.imgSelector img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selectorActive {
  opacity: 1;
}

.selectorInactive {
  opacity: 0.3;
}
