@import "../colors.module.css";

.saveBtn {
  padding: 0.25rem;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.saveBtn svg {
  width: 100%;
  opacity: 0.75;
}

.saveBtnActive path {
  fill: var(--quaternary);
}

.saveBtnInactive path {
  fill: var(--gray-light);
}

.detailsToggle {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--gray-light);
  opacity: 0.6;
}

.detailsToggleActive {
  color: var(--gray-darker);
}

.detailsToggleInactive {
  color: var(--gray-lighter);
}

.detailsToggle:focus {
  opacity: 0.9;
}
