@import "../colors.module.css";

.resultsList {
  composes: sansSerif from "../type.module.css";
  animation: fadeIn 0.125s ease-in-out;
  cursor: pointer;
}

.resultsListItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.125rem;
  border: 1px solid var(--gray-lighter);
  border-radius: 4px;
}

.selected {
  background-color: var(--primary-light);
}

.selected:hover {
  background-color: var(--primary-light);
}

.deselected {
  background-color: #fff;
}

.deselected:hover {
  background-color: var(--gray-lightest);
}

.deselected:active {
  background-color: var(--primary);
}

.resultsListItem a {
  text-decoration: none;
}

.itemFields {
  display: flex;
  align-items: flex-end;
  width: 75%;
  height: 100%;
}

.itemField {
  height: 100%;
}

.itemFieldMain {
  width: 65%;
  margin-left: 1rem;
}

.itemFieldMain a {
  display: inline-block;
}

.itemFieldSub {
  flex-basis: 35%;
}

.itemName {
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray-darkest);
  text-transform: capitalize;
}

.itemValue {
  composes: sansSerif from "../type.module.css";
  margin-top: 0.25rem;
  color: var(--gray-medium);
  font-size: 0.75rem;
}

.resultsListItem img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-right: 1px solid var(--gray-lighter);
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 560px) {
  .itemFields {
    width: 80%;
  }

  .itemFieldMain {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .itemName {
    flex-basis: 55%;
  }

  .itemFieldSub {
    flex-basis: 25%;
  }
}

@media (min-width: 768px) {
  .itemValue {
    font-size: 0.875rem;
  }
}
