@import "./colors.module.css";

.container {
  width: auto;
  margin: auto 1rem;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 90vw;
    max-width: 1200px;
    margin: auto;
  }
}
