@import "./colors.module.css";

.container {
  width: auto;
  margin: auto 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 12px var(--shadow-1);
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 90vw;
    max-width: 1200px;
    margin: auto;
  }
}
